<% if @error_message %>
<div class="notification is-danger">
  <%= @error_message %>
</div>
<% end %>
<%= form_tag "/user/login" do%>
<div class="card card-form">
  <div class="card-content">
    <div class="content">

      <div class="field">
        <label class="label">UserID</label>
        <div class="control">
          <input class="input" type="text" name="userid" placeholder="UserID">
        </div>
      </div>

      <div class="field">
        <label class="label">Passsword</label>
        <div class="control">
          <input class="input" type="password" name="password" placeholder="Password">
        </div>
      </div>

      <div class="btn-cntnr-user-form">
        <div class="control">
          <button class="button is-link" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>