<%= form_tag "/posts/create" do %>
<%= @post.errors.full_messages.each do |message| %>
<div class="notification is-danger">
  <%= message %>
</div>
<% end %>
<div class="cnt">
  <textarea class="textarea" name="content" placeholder="e.g. Hello world"></textarea>
  <div class="btn-cntnr">
    <button class="button is-light">
      <%= link_to "Cancel", "/"%></button>
    <button class="button is-link" type="submit">Tweet</button>
  </div>
</div>
<% end %>